
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
        <div id="logo">
          <img src="\assets\logo.png" alt="logo">
        </div>
  
        <div class="container">
        <form>
          <h2>Verify account</h2>
          <h3> dso@gmail.com </h3>
          <br>
          <div>
            <input type="password" id="password" placeholder="password" name="password">
          </div>
          
          <div>
            <input type="repeat password" id="password" placeholder="password" name="password">
          </div>
            <button type="submit" >Verify</button>
        </form>
        </div>
  </body>
  