<div class="verify-container">
  <div class="container">

    <div class="wrapper" >
      <h2>Verify account</h2>
      <form action="#">
        <h3 id="verify-prosumer-mail"></h3>
        <div class="input-box">
          <input type="password" name="email" [(ngModel)]="password.password1" placeholder="Password">
        </div>
        <div class="input-box">
          <input type="password" name="email" [(ngModel)]="password.password2" placeholder="Repeat password">
        </div>
        <div class="input-box button">
          <button type="button" (click)="verify()">Verify account</button>
        </div>
      </form>
    </div>
  </div>
</div>
