#container {
  display: flex;
  overflow: hidden;
}
#map-container {
  width: 100vw;
  position: relative;
}
@media (max-width: 999px) {
  #container {
    flex-direction: column;
  }
  #map-container {
    height: calc( 100vh - 88px);
  }
}
