<div class="forgot-password-container">
    <div class="forgot-password-form-holder">
        <div class="logo-holder">
            <div class="logo">
                <img src="\assets\logo.png" alt="logo">
            </div>
            <div class="company-message">
                <h1>Empower</h1>
                <h1>Energy</h1>
                <h1>Efficiency</h1>
            </div>
        </div>
        <form class="forgot-password-form">
            <h1>Request password reset</h1>
            <label>Type your email:</label>
            <input type="email" name="mail" placeholder="example@example.com" [(ngModel)]="mail.email" required>
            <button (click)="sendForm()">Send reset mail</button>
        </form>
    </div>
</div>