<div id="add-new-container" [ngBusy]="busy">
    <div class="add-new-form">
      <div style="display: flex; justify-content: space-between; align-items: center;" (click)="refresh()">
        <h2>Add new prosumer</h2>
        <i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" style="font-size: 30px; margin: 0;"></i>
      </div>
      <form>
        <div class="close-button">
          <a href="/dso/users" style="color: black;"><i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" style="font-size: 30px; margin: 0;"></i></a>
        </div>
        <h2>Add new prosumer</h2>
        <input type="name" class="users-form-name" placeholder="firstname" name="firstname" required [(ngModel)]="user.firstname">
        <input type="name" class="users-form-name" placeholder="lastname" name="lastname" required [(ngModel)]="user.lastname">
        <input type="email" id="users-form-email" placeholder="email" name="email" required [(ngModel)]="user.email">
        <input type="name" class="users-form-location" placeholder="street" name="street" [(ngModel)]="searchAddress" (change)="getAddress()" required>
        <div id="address-show">
          <div *ngFor="let item of items" class="display-item" (click)="pickAddressHandler($event)">{{item.addressDetails.split(", ")[0]}}, {{item.neighborhood}}, {{item.city}}</div>
        </div>
        <input type="number" id="users-form-street-num" placeholder="street number" name="streetnumber" [(ngModel)]="user.location.number" required>
        <!--<input type="name" class="users-form-location" placeholder="city" name="city" [(ngModel)]="user.location.city" required>-->
        <button type="button" (click)="storeUser()">Register</button>
      </form>
    </div>
</div>
