<div class="users-container">
    <app-sidebar></app-sidebar>
    <div class="users-form-container">   
        <form>
          <h2>Add new prosumer</h2>
            <input type="name" class="users-form-name" placeholder="firstname" name="firstname" required [(ngModel)]="user.firstname">
            <input type="name" class="users-form-name" placeholder="lastname" name="lastname" required [(ngModel)]="user.lastname">
            <input type="email" id="users-form-email" placeholder="email" name="email" required [(ngModel)]="user.email">
            <input type="name" id="users-form-street" placeholder="street" name="street" required>
            <input type="number" id="users-form-street-num" placeholder="street number" name="streetnumber" required> 
            <button type="submit" (click)="storeUser()">Register</button>
        </form>
    </div>
</div>