#add-new-container {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

@media ( max-width: 600px) {
  #add-new-container {
    flex-direction: row;
  }
}
@media ( max-width: 600px) {
  #add-new-container {
    flex-direction: column;
  }
}

.close-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.add-new-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.add-new-form h2
{
  font-weight: bold;
  font-size: 28px;
  color: #3E3E3E;
  margin-bottom: 20px;
}

.add-new-form form
{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.add-new-form input
{
  text-align: center;
  width: 80%;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #3E3E3E;
}

.add-new-form button
{
  background-color: #3E3E3E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.add-new-form button:hover
{
  background-color: #4f504f;
  font-size: 20px;
}

.users-form-name, #users-form-email, .users-form-location, #users-form-street-num
{
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
}

.users-form-name
{
  background-image: url(/assets/user.png);
}

#users-form-password
{
  background-image: url(/assets/lock.png);
}

#users-form-email
{
  background-image: url(/assets/email.png);
}

.users-form-location
{
  background-image: url(/assets/street.png);
}

#users-form-street-num
{
  background-image: url(/assets/street_num.png);
}


