<div id="add-new-container">
    <div class="add-new-form">
      <form>
        <div class="close-button">
          <a href="/dso/users" style="color: black;"><i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" style="font-size: 30px; margin: 0;"></i></a>
        </div>
        <h2>Add new prosumer</h2>
        <input type="name" class="users-form-name" placeholder="firstname" name="firstname" required [(ngModel)]="user.firstname">
        <input type="name" class="users-form-name" placeholder="lastname" name="lastname" required [(ngModel)]="user.lastname">
        <input type="email" id="users-form-email" placeholder="email" name="email" required [(ngModel)]="user.email">
        <input type="name" class="users-form-location" placeholder="street" name="street" [(ngModel)]="user.location.address" required>
        <input type="number" id="users-form-street-num" placeholder="street number" name="streetnumber" [(ngModel)]="user.location.number" required>
        <input type="name" class="users-form-location" placeholder="city" name="city" [(ngModel)]="user.location.city" required>
        <button type="submit" (click)="storeUser()">Register</button>
      </form>
    </div>
</div>
