<div class="device-input-holder">
  <div class="wrapper" [ngBusy]="busyAddDeviceJob">
      <div style="display: flex; justify-content: right;" (click)="refresh()">
        <i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" style="font-size: 30px; margin: 0;"></i>
      </div>

      <h2>Schedule job</h2>
      <form action="#" (ngSubmit)="addDeviceJob()">
        <div class="input-box">
          <select type="text" name="deviceId" [(ngModel)]="newJob.deviceId" id="device">
            <option  *ngFor=" let element of devices" value="{{element.id}}">{{element.name}}</option>
          </select>
        </div>
        <h3>Select starting date</h3>
        <div class="input-box">
          <input type="datetime-local" id="start-date">
        </div>
        <h3>Select endindg date</h3>
        <div class="input-box">
          <input type="datetime-local" id="end-date">
        </div>
        <div class="input-box input-checkbox">
          <h3>Turend On/Off</h3>
          <!--<input type="checkbox" [(ngModel)]="newJob.turn" checked>-->
          <app-slider [status]="newJob.turn" (sliderEvent)="newJob.turn = !newJob.turn"></app-slider>
        </div>
        <div class="input-box input-checkbox">
          <h3>Repeat everyday</h3>
          <!--<input type="checkbox" [(ngModel)]="newJob.repeat" checked style="width: 40px!important;" checked>-->
          <app-slider [status]="newJob.repeat" (sliderEvent)="newJob.repeat = !newJob.repeat"></app-slider>
        </div>

        <div class="input-box button">
          <button type="submit">Connect</button>
        </div>
      </form>
  </div>
  </div>
