<div class="change-password-form-container">
    <form class="change-password-form">
        <div class="change-password-input-holder">
            <label class="change-password-label">Enter old password</label>
            <input type="password" class="change-password-input" name="oldPassword">
        </div>
        <div class="change-password-input-holder">
            <label class="change-password-label">Enter new password</label>
            <input type="password" class="change-password-input" name="newPass1">
        </div>
        <div class="change-password-input-holder">
            <label class="change-password-label">Repeat new password</label>
            <input type="password" class="change-password-input" name="newPass2">
        </div>
        <button class="change-password-form-btn" (click)="changePassword()">Change password</button>
    </form>
</div>