* {
    margin: 0px;
    padding: 0px;
}
.toast-bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
}



html, body { height: 100vh; }
body { margin: 0;
  font-family: 'Poppins', sans-serif;
background-color: #E1E1E1;}
