* {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24;
    color: white;
}

.sidebar-container {
    width: 302px;
    height: 100vh;
    background-color: #239F81;
}

.sidebar-header {
    padding-top : 10px;
    padding-left: 26px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.sidebar-logo img{
    height: 56px;
    width: auto;
    margin-right: 15px;
}

.sidebar-profile img{
    height: 38px;
    width: auto;
    padding: 13px 0px;
    margin-left: 14px;
}

.sidebar-nav {
    width : 235px;
    margin : auto;
    margin-top: 243px;
}

.sidebar-nav a {
    text-decoration: none;
    color: white;
}

.sidebar-item, .sidebar-item-active {
    margin-bottom: 38px;
}

.sidebar-item {
    width: 242px;
    margin-left: 20px;
}

.sidebar-item-active {
    background-color: white;
    color:#1676AC;
    padding : 10px;
    padding-left: 20px;
    border-radius : 20px;
}

.sidebar-footer {
    width: 242px;
    background-color: #115746;
    border-radius: 30px;
    position: absolute;
    bottom: 24px;
    display: flex;
    align-items: center;
}

