#container {
  display: flex;
}
@media ( min-width: 1000px)
{
  #container {
    flex-direction: row;
  }
}
@media ( max-width: 999px)
{
  #container {
    flex-direction: column;
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding: 20px 10px;
  width: 100vw;
  box-sizing: border-box;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  width: calc(25% - 20px);
  height: 80px;
  box-sizing: border-box;
}

.card-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-left {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  justify-items: left;
  width: 50%;
}
.card-right {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  justify-items: right;
}

.c-red {
  color: rgba(191, 65, 65, 1)!important;
}
.c-blue {
  color: rgba(69, 94, 184, 1)!important;
}

.card-big {
  width: calc(50% - 20px);
  height: 420px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .card {
    width: calc(100% - 20px);
  }
  .card-big {
    width: calc(100% - 20px);
  }
}

.chart-holder {
  margin-top: 20px;
  height: 350px;
  width: 100%;
  position: relative;
}

.chart-holder-pie-grid {
  height: 340px!important;
}

.card h4, .card-big h4 {
  color: #3e3e3e;
}
.card-huge {
  width: calc(100% - 20px);
  height: 380px;
  box-sizing: border-box;
}

#live-chart {
  max-height: 340px;
  min-height: 340px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-header select {
  height: 20px;
  border-radius: 10px;
  border: 1px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
