<div class="profile-change-password-container">
    <div class="profile-change-password">
        <div id="profile-change-password-header">
            <h3 id="r">!</h3><h3>Password</h3>
        </div>
        <p>A strong password is one that's easy for you to remember but difficult for others to guess. Let's take a look at some of the most important things to consider when creating a password.</p>
        <ul>
            <li>Never use personal information such as your name, birthday, user name, or email address. This type of information is often publicly available, which makes it easier for someone to guess your password.</li>
            <li>Use a longer password. Your password should be at least six characters long, although for extra security it should be even longer.</li>
            <li>Don't use the same password for each account. If someone discovers your password for one account, all of your other accounts will be vulnerable.</li>
            <li>Include numbers, symbols, and both uppercase and lowercase letters.</li>
            <li>Avoid using words that can be found in the dictionary. For example, swimming1 would be a weak password.</li>
        </ul>
    </div>
    
    <form>
        <div class="profile-view-input-wraper">
            <label for="oldpassword">Old password</label>
            <input name="oldpassword" type="password" [(ngModel)] = "data.oldPassword" required>
        </div>
        <div class="profile-view-input-wraper">
            <label for="newpassword">New password</label>
            <input name="newpassword" type="password" [(ngModel)] = "data.newPassword" required>
        </div>
        <div class="profile-view-input-wraper">
            <label for="newconfirmedpassword">New password confirmed</label>
            <input name="newconfirmedpassword" type="password" [(ngModel)] = "data.confirmedPassword" required>
        </div>
        <button id="profile-button-blue" (click) = "emitData()">Save changes</button>
    </form>
</div>