<div class="profile-change-password-container">
    <div class="wrapper standard-card-style">
      <h2>Change password</h2>
      <form>
        <div class="input-box">
          <h3>Enter old password</h3>
          <input type="password" name="email" [(ngModel)] = "data.oldPassword" placeholder="Old password">
        </div>
        <br>
        <div class="input-box">
          <h3>Enter new password</h3>
          <input type="password" name="email" [(ngModel)] = "data.newPassword" placeholder="New password">
        </div>
        <br>
        <div class="input-box">
          <h3>Repeat new password</h3>
          <input type="password" name="email" [(ngModel)] = "data.confirmedPassword" placeholder="New password">
        </div>
        <br>
        <div class="input-box button">
          <button type="submit" (click) = "emitData()">Save changes</button>
        </div>
      </form>
    </div>
</div>
