<div class="profile-container">
  <app-sidebar></app-sidebar>
  <div class="profile-wraper">
    <div class="profile-header">
      <img src="https://www.tu-ilmenau.de/unionline/fileadmin/_processed_/0/0/csm_Person_Yury_Prof_Foto_AnLI_Footgrafie__2_.JPG_5845266f99.jpg" alt="Profile picture">
      <div class="profile-main">
        <div class="profile-info-header">
          <div class="profile-main-info">
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <h2>{{user.mail}}</h2>  
            <a href="profile-settings"><img src="/assets/sett.png" alt="settings"></a>
          </div>  
          <h3>{{user.role}}</h3>
      </div>
        <div class="profile-location" *ngIf="user.roleId == 3">
          <img src="/assets/pin_grey.png">
          <h2>{{user.city}}, {{user.address}} {{user.num}}</h2>
        </div>
      </div>
    </div>
    <app-devices-info></app-devices-info>
  </div>
</div>