#container {
  display: flex;
  box-sizing: border-box;
}

#content {
  height: fit-content;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (max-width: 1000px) {
  #container {
    flex-direction: row;
  }
  #content {
    margin-top: 88px;
  }
}

@media (max-width: 1000px) {
  #container {
    flex-direction: column;
  }
}

.profile-container {
  display:flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  width: 100%;
}

@media ( max-width: 999px) {
  .profile-container {
    margin-top: 88px;
  }
}

.card-and-map-holder {
  display: flex;
  justify-content: space-between;
}

.map-holder {
  width: calc(100% - 420px);
}


@media (max-width: 599px) {
  .card-and-map-holder {
    flex-direction: column;
  }
  .map-holder {
    margin-top: 20px;
    width: 100%;
  }
}
