<div id="container">
  <div id="nav">
    <app-sidebar>

    </app-sidebar>
  </div>
  <div id="content">
    <div id="header">
      <h2>Electrical Energy production and consumption</h2>
    </div>
    <div id="nav-bar">
      <h3 id="history-h3" (click)="historyClick()">History</h3>
      <h3 id="prediction-h3" (click)="predictionClick()">Prediction</h3>
    </div>

    <div id="filter">
      <div *ngIf="historyflag==true">
        <div class="slider">
          <div id="today" (click)="todayClick()" [ngClass]="{'slider-selected': todayFlag, 'slider-not-selected': !todayFlag}">Date</div>
          <div id="month" (click)="monthClick()" [ngClass]="{'slider-selected': monthFlag, 'slider-not-selected': !monthFlag}">Month</div>
          <div id="year" (click)="yearClick()" [ngClass]="{'slider-selected': yearFlag, 'slider-not-selected': !yearFlag}">Year</div>
        </div>
      </div>
      <div *ngIf="predictionFlag==true">
        <div class="slider">
          <div id="day1" (click)="tommorowClick()" [ngClass]="{'slider-selected': tommorowFlag, 'slider-not-selected': !tommorowFlag}">Tom.</div>
          <div id="day2" (click)="threeDaysClick()" [ngClass]="{'slider-selected': threeDaysFlag, 'slider-not-selected': !threeDaysFlag}">3 Days</div>
          <div id="day3" (click)="sevenDaysClick()" [ngClass]="{'slider-selected': sevenDaysFlag, 'slider-not-selected': !sevenDaysFlag}">7 Days</div>
        </div>
      </div>
    </div>

    <div id="additional-filter" *ngIf="historyflag==true">
      <form *ngIf="historyflag==true">
        <input type="date" *ngIf="todayFlag==true" [(ngModel)]="date" name="date" (change)="todayClick()" max="{{maxDate}}">
        <select id="picked-month" *ngIf="monthFlag==true" [(ngModel)]="month" name="month" (change)="monthClick()">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
        </select>
        <select id="picked-year" *ngIf="monthFlag==true"  [(ngModel)]="yearForMonth" name="year" (change)="monthClick()">
          <option value="2023">2023</option>
        </select>
        <select id="picked-year" *ngIf="yearFlag==true"  [(ngModel)]="year" name="year" (change)="yearClick()">
          <option value="2023">2023</option>
        </select>
      </form>
    </div>
    <div id="chart">
      <div id="chart-holder" class="standard-card-style">
        <canvas id="chart-canvas" style="height: 100%!important; width: 100%!important;"></canvas>
      </div>
    </div>
    <div id="table">
      <app-primeng-value-table [tableData]="result" [columnLabels]="columnLabels" [columns]="columns"></app-primeng-value-table>
    </div>
  </div>
</div>

<p-scrollTop></p-scrollTop>
