<div id="container">
  <div id="nav">
    <app-sidebar>

    </app-sidebar>
  </div>
  <div id="content">
    <div id="header">
      <h2>Electrical Energy production and consumption</h2>
    </div>
    <div id="nav-bar">
      <h3 id="history-h3" (click)="historyClick()">History</h3>
      <h3 id="prediction-h3" (click)="predictionClick()">Prediction</h3>
    </div>
    <div id="filter">
      <div *ngIf="historyflag==true">
        <div class="slider">
          <div id="today" (click)="todayClick()">Day</div>
          <div id="month" (click)="monthClick()">Month</div>
          <div id="year" (click)="yearClick()">Year</div>
        </div>
      </div>
      <div *ngIf="predictionFlag==true">
        <div class="slider">
          <div id="day1" (click)="tommorowClick()">Tom.</div>
          <div id="day2" (click)="threeDaysClick()">3 Days</div>
          <div id="day3" (click)="sevenDaysClick()">7 Days</div>
        </div>
      </div>
      <div class="dropdown" *ngIf="historyflag==true">
        <div id="filter-button">
          <button class="filter-icon"><i class="fas fa-filter"></i></button>
        </div>
        <div class="dropdown-content">
          <form>
            <input type="date" *ngIf="todayFlag==true" [(ngModel)]="date" name="date" (change)="todayClick()">
            <select id="picked-month" *ngIf="monthFlag==true" [(ngModel)]="month" name="month" (change)="monthClick()">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
            </select>
            <select id="picked-year" *ngIf="monthFlag==true"  [(ngModel)]="yearForMonth" name="year" (change)="monthClick()">
              <option value="2023">2023</option>
            </select>
            <select id="picked-year" *ngIf="yearFlag==true"  [(ngModel)]="year" name="year" (change)="yearClick()">
              <option value="2023">2023</option>
            </select>
          </form>
        </div>
      </div>
    </div>
    <div id="chart">
      <div id="chart-holder" class="standard-card-style">
        <canvas id="chart-canvas" style="height: 100%!important; width: 100%!important;"></canvas>
      </div>
    </div>
    <div id="table">
      <table>
        <thead>
        <tr id="thead-tr">
          <th>Timestamp</th>
          <th>Consumption<br>[kWh]</th>
          <th>Production<br>[kWh]</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataConsumption; let i = index">
          <td>{{ data.x }}</td>
          <td>{{ data.y.toFixed(2) }}</td>
          <td>{{ dataProduction[i].y.toFixed(2) }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
