
#container {
  display: flex;
  box-sizing: border-box;
}

#content {
  height: fit-content;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media ( max-width: 600px) {
  #container {
    flex-direction: row;
  }
}
@media ( max-width: 600px) {
  #container {
    flex-direction: column;
  }
}

#header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#nav-bar {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-bar h3 {
  margin-left: 30px;
  color: gray;
}

#filter {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.slider
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 250px;
  border-radius: 30px;
  margin-left: 10px;

  vertical-align: middle;
  horiz-align: center;

  align-items: center;

  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:  white!important;
}

#today,#month,#year,#day1,#day2,#day3
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 27%;
  vertical-align: middle;
  color: #3E3E3E;
}
#today:hover,#month:hover,#year:hover,#day1:hover,#day2:hover,#day3:hover
{
  color: white!important;
  margin-top: 0px;
  padding: 5px;
  background-color: #3E3E3E!important;
  border-radius: 10px;
}

#chart {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 25px;
}

#chart-holder {
  border-radius: 30px;
  width: 100%;
  height: 300px;
  background-color: lightgrey;
  padding: 10px;
}

canvas {
  width: 100%!important;
  height: 280px!important;
  max-height: 280px;
  max-width: calc(100% - 20px);
}

#table-holder {
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

table {
  width: 100%;
}

table {
  overflow-y: scroll;
}
