#container {
  display: flex;
}

#content {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

@media ( max-width: 600px) {
  #container {
    flex-direction: row;
  }
}
@media ( max-width: 600px) {
  #container {
    flex-direction: column;
  }
}

h2
{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3
{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#prediction{
  color: gray;
}

#history:hover,#prediction:hover
{
  font-size: 19px;
}

#today-month-year
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 250px;
    border-radius: 30px;
    margin-left: 10px;

    vertical-align: middle;
    align-items: center;

    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:  #1676AC!important;
}

#day1,#day2,#day3
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    width: 27%;
    vertical-align: middle;
    color: #ffff;
}

#today:hover,#month:hover,#year:hover,#day1:hover,#day2:hover,#day3:hover
{
    color: #1676AC!important;
    margin-top: 0px;
    padding: 5px;
    background-color: #ffff!important;
    border-radius: 10px;
}


#graph-container
{
    margin-top: 30px;
    margin-left: 50px;
    background-color: #ccc;
    width: 820px;

    border-radius: 5px;
    border: 2px solid #898787;
    box-shadow: 0 2px 2px rgba(10, 10, 10, 10);
}

