<div id="container">
  <div id="nav">
      <app-sidebar>

      </app-sidebar>
  </div>
  <div id="content">

    <h2 style="display: inline-block;">Production</h2>
    <br>
    <h3 style="display: inline-block;"><div (click)="historyClick()" id="history">History</div></h3>
    <h3 style="display: inline-block; margin-left: 10px"><div (click)="predictionClick()" id="prediction">Prediction</div></h3><br>

    <div>
    <div id="today-month-year">
      <div id="today" (click)="todayClick()">Day </div>
      <div id="month" (click)="monthClick()">Month</div>
      <div id="year"  (click)="yearClick()">Year</div>
    </div>

    <div *ngIf="todayFlag==true" id="dayPick" style="display: inline-block;">
        <input matInput [matDatepicker]="datepicker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </div>

    <div *ngIf="monthFlag==true" id="monthPick" style="display: inline-block;">
        
        <p class="pickTitle">Choose a month </p>
        <select id="yearDrop">
          <option value="year2023">2023</option>
        </select>
        <select id="monthDrop">
          <option value="Jan">January</option>
          <option value="Feb">February</option>
          <option value="Mar">March</option>
          <option value="Apr">April</option>
        </select>
    </div>

    <div *ngIf="yearFlag==true" id="yearPick" style="display: inline-block;">
      <p class="pickTitle">Choose a year </p>
      <select id="yearDrop">
        <option value="year2023">2023</option>
      </select>
    </div>

    <div id="total" style="display: inline-block;">Total production <span id="prod"> 780.40 </span> kWh</div>
  </div>


    <div id="graph-container">
      <div class="chart-container">
        <canvas id="chart" style="max-width: 800px; height: auto;"></canvas>
      </div>
    </div>

  </div>
</div>
