
body
{
    background-color: #1676AC;
}

/*Logo*/
img 
{
    height: 100px;
    width: 200px;  
}

#logo
{
    margin-bottom: 0px;
    padding-top: 50px;
    text-align: center;
}


/*Forma za login*/
.container 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* sets container height to full viewport height */
}


/*SIGN IN*/
h2
{
  font-style: bold;
  font-size: 36px;
  color: #3E3E3E;

/* 
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
*/
}

/*Forma (unutar div-a)*/
form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px  ;
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 30px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 350px;
    height: 350px;
  }
  

  label 
  {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /*Inputi username i password*/
  input 
  {
    text-align: center;

    width: 100%;
    padding: 5px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: bold;
    font-weight: 500;
    line-height: 25px;

    height: 2 0px;
    color: #3E3E3E;
  }

  input[type="text"]::placeholder {
    text-align: center !important;
  }

  /*Forgot pass ?*/
  #forgot_pass
  {
    margin-top: 0px;
    text-align: right;
    font-size: 12px;

    padding: 0px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 8px;
    text-decoration-line: underline;

    color: #6F6F6F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  }

  /*Login dugme*/
  button 
  {
    background-color: #3E3E3E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;

    width: 35%;
  }
  
  button:hover 
  {
    background-color: #4f504f;
    font-size: 20px;
    width: 37%;
  }

  /*Dont't have an account ?*/
  #dont_have_acc
  {
    margin-top: 3%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    line-height: 8px;
    color: #6F6F6F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /*SIGN UP*/
  #register
  {
    font-size: 15px;
    font-weight: bold;
  }

  a
  {
    color: #3E3E3E;
  }

  #register:hover
  {
    font-size: 17px;
    color: #3E3E3E;
  }

  .error 
  {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }
  

  .input-icons 
  {
      width: 100%;
      margin-bottom: 10px;
  }
    
  .icon 
  {
      padding: 10px;
      min-width: 40px;
  }
  
  
  /*
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-5EY9pN8WxEPx6pBwPdF+BOg2GJkpxeHvZUq3gU6fQ2FhhBNKx+Owif3LEf1noG0uZ+VpTw33kOZCg9+C4+maKw==" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      position: absolute;
      width: 474px;
      height: 350px;
      left: 722px;
      top: 342px;

      background: #D9D9D9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;


      


      
  */



  