<div class="device-input-holder">
<div class="wrapper" *ngIf="!showDevices"  [ngBusy]="busyAddDevice">
    <div class="exit-button" style="display: flex; justify-content: right;">
      <i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" (click)="hideAddDevice()"></i>
    </div>

    <h2>Connect device</h2>
    <form action="#" (ngSubmit)="addDevice()">
      <div class="input-box">
        <input type="text" name="name" [(ngModel)]="newDevice.name" placeholder="Device name">
      </div>

      <div class="input-box">
        <select name="category" [(ngModel)]="newDevice.category" (change)="fillTypes()">
          <option value=-1 selected>Consumer</option>
          <option value=1>Producer</option>
          <!--<option value=0> Storage</option>-->
        </select>
      </div>

      <div class="input-box">
        <select type="text" name="deviceTypeId" [(ngModel)]="newDevice.deviceTypeId" (change)="fillSubtypes()">
          <option *ngFor=" let type of types" [value]="type.id">{{type.type}}</option>
        </select>
      </div>

      <div class="input-box">
        <select type="text" name="deviceSubtypeId" [(ngModel)]="newDevice.deviceSubtypeId">
          <option *ngFor=" let subtype of subtypes" [value]="subtype.id">{{subtype.subtypeName}}</option>
        </select>
      </div>

      <div class="input-box" *ngIf="newDevice.category == 0">
        <input type="number" name="capacity" [(ngModel)]="newDevice.capacity" placeholder="Storage capacity">
      </div>

      <div class="input-box button">
        <button type="submit">Connect</button>
      </div>
    </form>
</div>
</div>
