<div id="details-container">
    <div style="display: inline-block;">
      <app-sidebar>

      </app-sidebar>
    </div>

    <div id="single-device-container" style="display: inline-block; vertical-align: top;" >

      <h2 style="display: inline-block;">Devices /</h2> <h2 id="h2_device" style="display: inline-block;">{{device.name}}</h2>
      <br>
      <h3 style="display: inline-block;">History</h3> <h3 style="display: inline-block; margin-left: 10px; color: gray;">Prediction</h3><br>

      <div id="today-month-year" style="display: inline-block;">
        <div id="today" (click)="todayClick()">Today </div>
        <div id="month" (click)="monthClick()">Month</div>
        <div id="year"  (click)="yearClick()">Year</div>
      </div>

      <div style="display: inline-block;">

        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
                               
      </div>


      

        <div id="graph-container">
          <div class="chart-container">
            <canvas id="chart" style="max-width: 800px; height: auto;"></canvas>
          </div>
        </div>
        <button id="export"> EXPORT TO CSV</button>
        <div id = "table-container" style="display: inline-block;">
            <table id="tableShow" class="data-table">
              <thead>
                <tr>
                  <th style="width: 50%">Period</th>
                  <th>{{categoryLabel}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data; let i = index">
                  <td>{{labels[i]}}</td>
                  <td>{{item | number:'1.3-3' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>


 
  <!-- bootstrap datepicker
  <div>
    <label>Select Date: </label>
    <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
      <input class="form-control" type="text" readonly />
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div> -->

  <!-- <div class="calendar-dropdown">
    <input type="text" placeholder="Select a date" id="calendar-input">
    <ul class="calendar">
      <li><span>1</span></li><li><span>2</span></li><li><span>3</span></li><li><span>4</span></li><li><span>5</span></li><li><span>6</span></li>
      <li><span>7</span></li><li><span>8</span></li><li><span>9</span></li><li><span>10</span></li><li><span>11</span></li><li><span>12</span></li>
      <li><span>13</span></li><li><span>14</span></li><li><span>15</span></li><li><span>16</span></li><li><span>17</span></li><li><span>18</span></li>
      <li><span>19</span></li><li><span>20</span></li><li><span>21</span></li><li><span>22</span></li><li><span>23</span></li><li><span>24</span></li>
      <li><span>25</span></li><li><span>26</span></li><li><span>27</span></li><li><span>28</span></li><li><span>29</span></li><li><span>30</span></li><li><span>31</span></li>
    </ul>
  </div> -->
