<div id="container">
  <div id="nav">
    <app-sidebar>

    </app-sidebar>
  </div>
  <div id="content">
    <div id="header">
      <h2><a href="/prosumer/devices">Devices</a> <span style="color: gray;"> /</span> {{device.name}}</h2>
      <div id="header-img">
        <img src="/assets/sett.png" alt="settings">
        <div id="drop-down-sett">
          <div class="drop-down-item" (click)="showEditForm()">Edit</div>
          <div class="drop-down-item" (click)="showDeleteForm()">Delete</div>
        </div>
      </div>
    </div>
    <div id="nav-bar">
      <h3 id="history-h3" (click)="historyClick()">History</h3>
      <h3 id="prediction-h3" (click)="predictionClick()">Prediction</h3>
    </div>
    <div id="filter">
      <div *ngIf="historyflag==true">
        <div class="slider">
          <div id="today" (click)="todayClick()">Date</div>
          <div id="month" (click)="monthClick()">Month</div>
          <div id="year" (click)="yearClick()">Year</div>
        </div>
      </div>
      <div *ngIf="predictionFlag==true">
        <div class="slider">
          <div id="day1" (click)="tommorowClick()">Tom.</div>
          <div id="day2" (click)="threeDaysClick()">3 Days</div>
          <div id="day3" (click)="sevenDaysClick()">7 Days</div>
        </div>
      </div>
    </div>
    <div id="additional-filter">
      <form *ngIf="historyflag==true">
        <input type="date" *ngIf="todayFlag==true" [(ngModel)]="date" name="date" (change)="todayClick()">
        <select id="picked-month" *ngIf="monthFlag==true" [(ngModel)]="month" name="month" (change)="monthClick()">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
        </select>
        <select id="picked-year" *ngIf="monthFlag==true"  [(ngModel)]="yearForMonth" name="year" (change)="monthClick()">
          <option value="2023">2023</option>
        </select>
        <select id="picked-year" *ngIf="yearFlag==true"  [(ngModel)]="year" name="year" (change)="yearClick()">
          <option value="2023">2023</option>
        </select>
      </form>

      <button id="stats-button">
        Aditional stats
      </button>
    </div>
    <div id="chart">
      <div id="chart-holder" class="standard-card-style">
        <canvas id="chart-canvas" style="height: 100%!important; width: 100%!important;"></canvas>
      </div>
    </div>
    <div id="table">
      <table>
        <thead>
        <tr id="thead-tr">
          <th>Timestamp</th>
          <th>{{categoryLabel}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let row of data">
            <td>{{row.x}}</td>
            <td>{{row.y.toFixed(3)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>

  <div class="device-details-overlay">
    <div class="device-details-edit">
      <app-edit-device [id]="device.id" [privacyStatus]="device.activityStatus" (exitStatusEvent)="hideForm($event)"></app-edit-device>
    </div>
    <div class="device-details-delete">
      <app-delete-device [id]="device.id" (exitStatusEvent)="hideForm($event)"></app-delete-device>
    </div>
  </div>

    <!----->
    <!-- <div id="stats-container" style="display: inline-block;">
      <div class="card">
        <div class="card-header"> Naslov </div>
        <div class="card-body">
          <div class="stat">
            <div class="stat-label">Min:</div>
            <div class="stat-value"> 0 </div>
          </div>
          <div class="stat">
            <div class="stat-label">Max:</div>
            <div class="stat-value"> 10 </div>
          </div>
          <div class="stat">
            <div class="stat-label">Avg:</div>
            <div class="stat-value"> 2.5 </div>
          </div>
        </div>
      </div>
    </div> -->
    <!----->