<div id="details-container">
    <div style="display: inline-block;">
      <app-sidebar>

      </app-sidebar>
    </div>

    <div id="single-device-container" style="display: inline-block; vertical-align: top;" >

      <h2 style="display: inline-block;">Devices /</h2> <h2 id="h2_device" style="display: inline-block;">{{device.name}}</h2>
      <br>
      <h3 style="display: inline-block;">History</h3> <h3 style="display: inline-block; margin-left: 10px; color: gray;">Prediction</h3><br>

      <div id="today-month-year" style="display: inline-block;">
        <div id="today" (click)="todayClick()">Today </div>
        <div id="month" (click)="monthClick()">Month</div>
        <div id="year"  (click)="yearClick()">Year</div>
      </div>

      <div *ngIf="monthFlag==true" id="date-picker_container" style="display: inline-block;">

        <mat-form-field id="date-picker-form" appearance="fill">
          <mat-label id="enterDate">Enter a date range</mat-label>
          <mat-date-range-input id="lol" [rangePicker]="picker">
            <input id="startDate" matStartDate placeholder="Start date">
            <input id="endDate"   matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle id="ppicker" matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
                          
      </div>

      <div *ngIf="yearFlag==true" id="month-picker_container" style="display: inline-block;">
        
        <mat-form-field>
          <mat-label>Select a month</mat-label>
          <mat-select [(value)]="selectedMonth">
            <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
          </mat-select>
        </mat-form-field>

    
      </div>


      

        <div id="graph-container">
          <div class="chart-container">
            <canvas id="chart" style="max-width: 800px; height: auto;"></canvas>
          </div>
        </div>
        <button id="export"> EXPORT TO CSV</button>
        <div id = "table-container" style="display: inline-block;">
            <table id="tableShow" class="data-table">
              <thead>
                <tr>
                  <th style="width: 50%">Period</th>
                  <th>{{categoryLabel}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data; let i = index">
                  <td>{{labels[i]}}</td>
                  <td>{{item | number:'1.3-3' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>


 