/*Day datepicker (month selected)*/


#date-picker-form {
  color: #333;
}

.mat-calendar-table {
  color: #333;
}

.mat-calendar-table span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #333;
}

.mat-calendar-body {
  color: #333;
}

.mat-calendar-table button :hover {
  background-color: #a3a4a5 !important;
}

.mat-calendar-table button :active {
  background-color: #0e1822 !important;
}

.hour-range-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  margin: 10px 25px;
  border-radius: 10px;
  color: #3E3E3E;
}

#chart {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}

#chart-holder {
  width: 100%;
  height: 300px;
  background-color: white;
}

canvas {
  width: 100% !important;
  height: 300px !important;
  max-height: 300px;
  max-width: calc(100%);
}

#table {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


table {
  background-color: white;
  width: 100%;
  align-items: center;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#thead-tr {
  border-bottom: 3px solid black;
}

tbody tr {
  border-bottom: 1px solid black;
}

table tr:last-child {
  border: 0;
}

table tr td {
  text-align: center;
  color: #3E3E3E;
  height: 30px;
}

table tr th {
  text-align: center;
  height: 50px;
}

table tbody tr:hover {
  background-color: #cfcfcf;
}



.slider-selected {
  color: white;
  background-color: #3E3E3E;
  padding: 5px;
  border-radius: 10px;
}

.slider-not-selected {
  color: #3E3E3E;
  background-color: transparent;
}

.device-details-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(87, 86, 86, 0.75);
}

.device-details-edit,
.device-details-delete {
  display: none;
  position: fixed;
  left: 40%;
  top: 30%;
}

/**/

#stats-button {
  background-image: url(/assets/stats.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #333;

  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 5px;
  background-color: #fff;
  border: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#stats-button:hover {
  color: #fff;
  background-color: #333;
}

/**/

#stats-button {
  position: relative;
}

#stats-dropdown {
  color: #333;
  display: none;
  position: absolute;

  width: 300px;
  top: 100%;
  right: 0%;
  background-color: white;
  border-radius: 10px;
  background-color: #333;
  padding: 5px;
}

#stats-dropdown th {
  border-bottom: 2px solid black;
}


#stats-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#stats-dropdown li {
  margin-bottom: 5px;
}

#stats-dropdown.visible {
  display: block;
}

#device-details {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
#device-details-holder {
  width: 100%;
  height: 300px;
  background-color: white;
}
