.profile-view-image {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    align-items: center;
    margin-bottom: 100px;
}

.profile-view-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 100px;
}

.profile-view-image-buttons form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-view-settings button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.profile-button-blue {
    background-color: #1676AC;
    color: white;
}

#profile-button-delete {
    background-color: rgba(158, 156, 156, 0.4);
    color: #5B5858;
}

.profile-view-settings-change {
    width: 1000px;
}

.profile-view-input-wraper {
    display: flex;
    flex-direction: column;
}

.profile-view-input-wraper label {
    font-size: 20px;
    font-weight: lighter;
    color: #5B5858;
}

.profile-view-input-wraper input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    margin-right: 100px;
    background-color: #E1E1E1;
}

.profile-view-input-wraper input#email {
    width: 700px;
}

.profile-view-upper-form {
    display: flex;
    margin-bottom: 80px;
}

.middle-form {
    margin-bottom: 70px;
}

.profile-view-bottom-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.profile-info-address {
    width: 400px;
    text-align : center;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

#profile-info-address-header {
    display: flex;
    margin-bottom: 10px;
}

h3 {
    color: #5B5858;
}

#r {
    color: red;
}

p {
    color: #5B5858;
}

.profile-overview-overlay {
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(157, 157, 157, 0.5);
    display: none;
}

.profile-overview-add-new {
    z-index: 9999;
    position: fixed;
    left: 40%;
    top: 20%;
}

@media (max-width: 999px) {
    .profile-view-settings > .profile-view-image {
        justify-content: center;
        margin-bottom: 30px;
        justify-content: space-around;
    }
    .profile-view-settings-change {
        width: 500px;
    }

    .profile-view-settings > .profile-view-settings-change form {
        margin: 30px;
    }

    .profile-view-settings-change form > .profile-view-upper-form {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .profile-view-settings-change form > .profile-view-input-wraper input#email {
        width: 80vw;
    }

    .profile-view-input-wraper {
        margin-bottom: 25px;
    }

    .profile-view-settings-change {
        width: 90%;
    }

    .profile-view-input-wraper input {
        width: 80vw;
        margin-right: 0px;
    }

    .profile-view-bottom-form > .profile-info-address {
        display: none;
    }

    .profile-view-image img {
        margin-right: 0px;
        width: 150px;
        height: 150px;
    }

    .profile-view-image-buttons form {
        width: 40vw;
    }

    .profile-view-settings button {
        width: 100%;
        height: 50px;
    }

    .profile-view-bottom-form {
        width: 80%;
    }

    .profile-view-bottom-form > .profile-button-blue {
        background-color: #1676AC;
        color: white;
        width: 70%;
    }

    .profile-overview-add-new {
        z-index: 9999;
        position: fixed;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }
}
