<div class="profile-view-settings">
    <div class="profile-view-image standard-card-style">
        <img [src]="user.profileImage" alt="Profile picture">
        <div class="profile-view-image-buttons">
          <button class="profile-button-blue" (click)="showUpload()">Change image</button>
        </div>
    </div>

    <div class="form-holder">
      <div class="wrapper standard-card-style">
        <h2>Change information</h2>
        <form>
          <div class="input-box">
            <h3>Firstname</h3>
            <input name="firstname" type="text" [(ngModel)]="data.firstname" placeholder="Firstname">
          </div>
          <br>
          <div class="input-box">
            <h3>Lastname</h3>
            <input name="lastname" type="text" [(ngModel)]="data.lastname" placeholder="Lastanme">
          </div>
          <br>
          <div class="input-box">
            <h3>Repeat new password</h3>
            <input name="email" id="email" [(ngModel)]="data.email" placeholder="Email">
          </div>
          <br>
          <div class="input-box button">
            <button type="submit" (click) = "emitData()">Save changes</button>
          </div>
        </form>
      </div>
    </div>








</div>
<div class="profile-overview-overlay">
    <div class="profile-overview-add-new">
        <app-upload-image></app-upload-image>
    </div>
</div>
