* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}


.sidebar-container {
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 10px;
}

.sidebar-container-blue {
background-color: #1676AC;
}

.sidebar-container-green {
background-color: #239F81;
}

.sidebar-header {
  padding-top : 10px;
  padding-left: 26px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.sidebar-logo img{
  height: 56px;
  width: auto;
  margin-right: 15px;
  cursor: pointer;
}

.sidebar-profile img{
  height: 40px;
  padding: 13px 15px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-wraper {
  display: flex;
  align-items: center;
  width: 80%;
  cursor: pointer;
}

.sidebar-footer img {
  height: 30px;
}

#logout {
width: 20%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.sidebar-nav {
  margin-top: 40px;
}

.sidebar-nav a {
  text-decoration: none;
  color: white;
}

.sidebar-item, .sidebar-item-active {
  cursor: pointer;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar-item {
  width: 242px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.sidebar-item-active {
  background-color: rgba(255, 255, 255, 0.911);
  color:#3E3E3E;
  padding : 10px;
  padding-left: 20px;
  border-radius: 20px;
}

.sidebar-footer {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
display: flex;
align-items: center;
cursor: default;
flex-direction: row;
justify-content: space-between;
}
.sidebar-footer-blue {
background-color: #0C4869;
}
.sidebar-footer-green {
background-color: #115746;
}


