* {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.sidebar-container {
    width: 302px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-container-blue {
  background-color: #1676AC;
}

.sidebar-container-green {
  background-color: #239F81;
}

.sidebar-header {
    padding-top : 10px;
    padding-left: 26px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.sidebar-logo img{
    height: 56px;
    width: auto;
    margin-right: 15px;
}

.sidebar-profile img{
    height: 40px;
    padding: 13px 15px;
    border-radius: 50%;
}

#profile-wraper {
    display: flex;
    align-items: center;
    width: 80%;
}

.sidebar-footer img {
    height: 30px;
}

#logout {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-nav {
    width : 235px;
    margin : auto;
}

.sidebar-nav a {
    text-decoration: none;
    color: white;
}

.sidebar-item, .sidebar-item-active {
    margin-bottom: 38px;
    cursor: default;
}

.sidebar-item {
    width: 242px;
    margin-left: 20px;
}

.sidebar-item-active {
    background-color: white;
    color:#3E3E3E;
    padding : 10px;
    padding-left: 20px;
    border-radius : 20px;
}

.sidebar-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: default;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-footer-blue {
  background-color: #0C4869;
}
.sidebar-footer-green {
  background-color: #115746;
}


/* Responsive*/

@media (min-width: 599px)
{
    .sidebar-container-mobile
    {
        display: none;
    }
}

/* Maximum width */
@media (max-width: 600px)
{
    .sidebar-container
    {
        display: none;
    }

    .sidebar-container-mobile
    {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        width: 100vw;
        position: fixed;
        z-index: 9900;
    }

    #logoMobile
    {
        height: 50px;
        margin-left: 40px;
    }

    .sidebar-logo-mobile
    {
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    .sidebar-nav-mobile {
        align-items: center;
        justify-content: flex-end;

        float: right;
        margin-top: 0px;
        margin-right: 30px;
      }


    /* Buger */

    /* Burger menu styles */
    button.burger-menu
    {
        background-color: transparent;
    }

    .burger-menu
    {

        top: 0;
        right: 0;

        display: inline-block;

        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        margin-right: 10px;
        cursor: pointer;
        border: none;
        padding: 0;

        background-image: url(/assets/burger.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: 7px 10px;

    }

    .burger-menu span {
        width: 50%;
        height: 3px;
        background-color: #3E3E3E;
        transition: all 0.3s ease-in-out;
    }

    .burger-menu span:first-child {
        transform-origin: top left;
    }

    .burger-menu span:last-child {
        transform-origin: bottom left;
    }

    /* Open menu styles */
    .menu-list {
        position: absolute;
        top: 80 px;
        right: 5px;
        width: 250px;
        max-height: 0;
        overflow: hidden;
        list-style: none;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;

        padding-bottom: 10px;
    }

    .menu-list li {
        padding: 10px 20px;
    }

    .menu-list a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
    }

    .menu-list
    {
        background-color: #3E3E3E;

        box-shadow: none;
        padding-bottom: 0px;
      margin-top: 10px;
      z-index: 2;
    }

    .menu-list.open {
        background-color: #fff;
        max-height: 400px;
        border-radius: 10px;
        border: 1px solid #3E3E3E;
        z-index: 2;


        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .sidebar-item-active-mobile,.sidebar-item-mobile
    {
        color: #0C4869;
    }



    #overview-mobile a,#devices-mobile a,#consumption-mobile a,#production-mobile a,#profile-mobile a,#profile-logout a,#scheduler-mobile a
    {
        margin-left: 35px;
        font-size: 25px;
    }

    #overview-mobile,#devices-mobile, #consumption-mobile,#production-mobile,#profile-mobile,#profile-logout,#scheduler-mobile
    {
        background-image: url(/assets/overview.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 7px 7px;
    }

    #overview-mobile:hover,#devices-mobile:hover,#consumption-mobile:hover,#profile-logout:hover
    #production-mobile:hover,#profile-mobile:hover,#scheduler-mobile:hover
    {
        color: #fff;
        background-color: #dddddd;
    }

    #devices-mobile     {   background-image: url(/assets/devices.png);}
    #consumption-mobile {   background-image: url(/assets/consumption.png);}
    #production-mobile  {   background-image: url(/assets/production.png);}
    #scheduler-mobile  {   background-image: url(/assets/scheduler.png);}
    #profile-mobile { background-image: url(/assets/user.png); }
    #profile-logout { background-image: url(/assets/logout-mobile.png); }
}
