


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-5EY9pN8WxEPx6pBwPdF+BOg2GJkpxeHvZUq3gU6fQ2FhhBNKx+Owif3LEf1noG0uZ+VpTw33kOZCg9+C4+maKw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
   
   
    <div id="logo">
      <img src="\assets\logo.png" alt="logo">
    </div>
    <div class="container">   
    <form>
      <h2>Sign Up</h2>

        <div>
            <input type="name" id="name" placeholder="firstname" name="firstname" required > 
        </div> 
        <div>
            <input type="name" id="name" placeholder="lastname" name="lastname" required > 
        </div>
        <div>
            <input type="email" id="email" placeholder="email" name="email" required > 
        </div>
        <div>
          <input type="name" id="street" placeholder="street" name="street" required > 
        </div>
        <div>
          <input type="number" id="street_num" placeholder="street number" name="streetnumber" required > 
        </div>
      
        <div>
          <input type="password" id="password" placeholder="password" name="password" required >
        </div>
        <div>
          <input type="password" id="password" placeholder="repeat password" name="password" required >
        </div>
       

      <button type="submit">Register</button>
      <p id="dont_have_acc" >Already user ? <a routerLink="/login"><span id="register">SIGN IN</span></a></p>
   
      <!--  <button style="width: 20%;" type="submit">Cancel</button> -->
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-lMz+BCF2J1eOb3Ciky7VnnDjK/n+7V9JEBPCEoK4+D4P+mBpV45Bw1yNf+kyS8tWJPTt9Xk+iZ2I4x4OzfyWzw==" crossorigin="anonymous"></script>
  
    </form>
    </div>
  </body>
  