#device-details-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.device-detail {
  display: flex;
  width: calc(50% - 10px);
  margin-bottom: 15px;
  box-sizing: border-box;
}

.device-icons {
  justify-content: end!important;
  margin-bottom: 10px!important;
  padding: 0px!important;
}

.device-icons img {
  height: 30px;
  margin-left: 5px;
  margin-right: 10px;
}

@media (max-width: 599px) {
  .device-detail {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.device-detail {
  padding: 5px;
  box-sizing: border-box;
}

.device-detail .title p {
  font-weight: bold;
}
.device-detail p{
  margin: 5px;
  color: #3e3e3e;
  font-size: 20px;
}
.device-detail div {
  display: flex;
  align-items: center;
}
