<div id="device-details-holder" class="standard-card-style">
  <div class="device-detail">
    <div class="title">
      <p>Name</p>
    </div>
    <div>
      <p>{{device.name}}</p>
    </div>
  </div>
  <div class="device-detail">
    <div class="title">
      <p>Type</p>
    </div>
    <div>
      <p>{{device.deviceType!.type}}</p>
    </div>
  </div>
  <div class="device-detail">
    <div class="title">
      <p>Manufacturer</p>
    </div>
    <div>
      <p>{{device.deviceSubtype!.subtypeName}}</p>
    </div>
  </div>
  <div class="device-detail">
    <div class="title">
      <p>Activity status</p>
    </div>
    <div>
      <app-slider [status]="device.activityStatus"></app-slider>
    </div>
  </div>
</div>
