#device-details-holder {
  width: 100%;
  box-sizing: border-box;
}
#device-details-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  #device-details-holder {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .device-detail {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}
.device-detail {
  padding: 5px;
  box-sizing: border-box;
}

.device-detail .title p {
  font-weight: bold;
}
.device-detail p{
  margin: 5px;
  color: #3e3e3e;
  font-size: 20px;
}
.device-detail div {
  display: flex;
  align-items: center;
}
