<div class="device-input-holder">
  <div class="wrapper" [ngBusy]="busy">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Edit device</h2>
        <i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" style="font-size: 30px; margin: 0;" (click)="exitStatusEvent.emit( false)"></i>
      </div>

      <form action="#" (ngSubmit)="saveChanges()">
        <div class="input-box button">
          <input type="text" placeholder="Device name" [(ngModel)]="device.name" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="input-checkbox">
          <h3>Visible to DSO</h3>
          <input type="checkbox" placeholder="Device name" [(ngModel)]="device.dataShare" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="input-box input-checkbox">
          <h3>Controllable by DSO</h3>
          <input type="checkbox" placeholder="Device name" [(ngModel)]="device.dsoControl" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="input-box button">
          <button type="submit">Save changes</button>
        </div>
      </form>
  </div>
  </div>
