
<body>
    
    <div style="display: inline-block; width: 25%;">
        <app-sidebar>
        
        </app-sidebar>
    </div>

    <div style="display: inline-block; vertical-align: top;">
        <div id="devices-container">
            <h2>Devices</h2>
            <div id="devices-categories">
                <div id="device-logo-consumer" ></div>
                <div id="device-logo-prosumer" ></div> 
                <div id="device-logo-storage"  ></div>
            </div>
        </div>
    </div>

</body>