
<body>
    
    <div style="display: inline-block; width: 25%;">
        <app-sidebar>
        
        </app-sidebar>
    </div>

    <div style="display: inline-block; vertical-align: top;">
        <div id="devices-container">
            <h2>Devices</h2>
            <div id="devices-categories" style="display: inline-block;">
                <div id="device-logo-consumer" ></div>
                <div id="device-logo-prosumer" ></div> 
                <div id="device-logo-storage"  ></div>
            </div>

            <div id="devices-add-device" style="display: inline-block;">
                <div id="devices-add" style="vertical-align: middle;">+ Add device</div>
            </div>
        </div>

        <br>

        <!-- Consumer devices container -->
        <div id="consumer-devices">
            <h2>Consumer Devices</h2>
            <div>
                 <ul>
                    <ng-container *ngFor="let device of devices">
                        <div id="consumer-device" *ngIf="device.category === 'consumer'"> 
                            <li>{{device.name}}</li> 
                            <button (click)="removeDevice(device)">Remove Device</button>
                        </div>
                    </ng-container>
                  </ul>
            </div>
        </div>          
        
        <!-- Prosumer devices container -->
        <div id="prosumer-devices">
            <h2>Prosumer Devices</h2>
            <ul>
                    <ng-container *ngFor="let device of devices">
                        <div id="prosumer-device" *ngIf="device.category === 'prosumer'">
                            <li>{{device.name}}</li>
                            <button (click)="removeDevice(device)">Remove Device</button>
                        </div>
              </ng-container>
            </ul>
        </div>

        <!-- Storage devices container -->
        <div id="storage-devices">
            <h2>Storage Devices</h2>
            <ul>
                <ng-container *ngFor="let device of devices">
                    <div id="storage-device" *ngIf="device.category === 'storage'">
                        <li>{{device.name}}</li>
                        <button (click)="removeDevice(device)">Remove Device</button>
                    </div>
          </ng-container>
        </ul>
        </div>
        
        <div id="add-device">
            <h2>Add Device</h2>
            <form>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" [(ngModel)]="newDevice.name">
              
              <label for="type">Type:</label>
              <input type="text" id="type" name="type" [(ngModel)]="newDevice.type">
              
              <label for="category">Category:</label>
              <select id="category" name="category" [(ngModel)]="newDevice.category">
                <option value="consumer">Consumer</option>
                <option value="prosumer">Prosumer</option>
                <option value="storage"> Storage</option>
              </select>
              
              <button type="button" (click)="addDevice()">Add Device</button>
            </form>
          </div>

          <br>
          <br>

    </div>

</body>