* {
    font-family: 'Inter', sans-serif;
    color: white;
}

.overview-container {
    display: flex;
    background-color: #E1E1E1;
    min-height: 100vh;
}

.overview-container button {
    padding: 5px 30px;
    border-radius: 20px;
    border: 0px;
    outline: 0;
}

#lastname-filter {
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 20px;
    border: 0px;
    outline: 0;
}

.overview-tab {
    width: 1500px;
    position: relative;
    margin: 100px auto;
}

.overview-filter-holder form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#add-user-btn {
    background-color: white;
    color: #3E3E3E;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-input input {
    width: 250px;
    color: black;
    height: 35px;
    outline: 0;
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 35px;
}

.search-input button {
    background-color: #3E3E3E;
    font-weight: 600;
    height: 100%;
}

.search-input button:hover,#add-user-btn:hover {
    outline: 1px solid black;
}

.overview-users-table table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.overview-users-table table tr:first-child{
    border-bottom: 3px solid black;
    cursor: default;
    font-weight: 600;
    font-size: 26px;
}

.overview-users-table table tr {
    border-bottom: 1px solid black;
}

.overview-users-table table tr:last-child {
    border: 0;
}

.overview-users-table table tr td {
    color: #3E3E3E;
    height: 40px;
    font-size: 16px!important;
    padding: 10px;
    box-sizing: border-box;
}

.overview-users-table button{
    padding: 5px 30px;
    background-color: #1676AC;
}

.overview-users-table button:hover{
    outline: 2px solid black;
}

#overiew-filter {
    outline: none;
}

.overview-pagination form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.overview-pagination form, select, option, label{
    color: black;
    outline: none;
    border: none;
}

.page-size-holder {
    margin-right:50px;
}

.overview-pagination-pages {
    display: flex;
}

.overview-pagination-page, .overview-pagination-page-active {
    width: 30px;
    color: black;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
}

.overview-pagination-page-active {
    background-color: rgba(22, 118, 172, 0.5)
}

.overview-pagination-page:hover {
    background-color: rgba(22, 118, 172, 0.75);
}

.users-overview-overlay {
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    background-color: rgba(157, 157, 157, 0.5);
}

.users-overview-add-new {
    z-index: 9999;
    position: fixed;
    left: 40%;
    top: 20%;
}

.input[type="text"]::-webkit-search-decoration,
.input[type="text"]::-webkit-search-results-decoration,
.input[type="text"]::-webkit-search-results {
    display: none;
}
