<div class="overview-container">
  <app-sidebar></app-sidebar>
  <div class="overview-tab">
    <div id="header">
      <h2>Prosumers</h2>
    </div>
    <div class="overview-filter-holder">
      <button class="button green" (click)="showAddUProsumer = true" style="display:inline-block;">+Add Prosumer</button>
    </div>
    <app-primeng-table [tableData]="usersData" [columns]="columns" [columnLabels]="columnLabels"></app-primeng-table>
  </div>
  <div class="hover-form" *ngIf="showAddUProsumer" style="z-index: 2;">
    <app-users (output)="formEmitter($event)"></app-users>
  </div>
</div>
