<div id="container">
  <div id="nav">
    <app-sidebar>

    </app-sidebar>
  </div>
  <div id="content">
    <app-profile-card [user]="user"></app-profile-card>
    <app-devices-info [id]="id"></app-devices-info>
  </div>
</div>

<div class="hover-form" *ngIf="showDelete">
  <app-delete-profile (output)="showDelete=false" [id]="id" [user]="user"></app-delete-profile>
</div>
<div class="hover-form" *ngIf="showResend">
  <app-resend-verification-mail-dialog (exitStatusEvent)="showResend=false" [email]="user.mail"></app-resend-verification-mail-dialog>
</div>
