<div id="container">
  <div id="nav">
    <app-sidebar>

    </app-sidebar>
  </div>
  <div id="content">
    <div class="card-and-map-holder">
      <app-profile-card [user]="user" (showDelete)="showDelete = true" (showResend)="showResend = true" (showUpdateProsumer)="showUpdateProsumer = true"></app-profile-card>
      <div class="map-holder" *ngIf="user.roleId == 3">
        <div class="map-profile-wrapper standard-card-style" id="map">
        </div>
      </div>
    </div>
    <div style="margin-top: 20px; display: flex; justify-content: center;"
         *ngIf="user.roleId == 3">
      <app-devices-info [id]="id"></app-devices-info>
    </div>
  </div>
  <div class="hover-form" *ngIf="showDelete">
    <app-delete-profile (output)="showDelete=false" [id]="id" [user]="user"></app-delete-profile>
  </div>
  <div class="hover-form" *ngIf="showResend">
    <app-resend-verification-mail-dialog (exitStatusEvent)="showResend=false" [email]="user.mail"></app-resend-verification-mail-dialog>
  </div>
  <div class="hover-form" *ngIf="showUpdateProsumer">
    <app-update-prosumer (output)="showUpdateProsumer = false"
                         [searchAddress]="user.address + ', ' + user.neighborhood + ', ' + user.city"
                         [user] = "{id: user.id,
                          email: user.mail,
                          firstname: user.firstname,
                          lastname: user.lastname,
                          location: {
                            address: user.address,
                            city: user.city,
                            number: user.num,
                            neighborhood: user.neighborhood
                          }
                        }"
                         ></app-update-prosumer>
  </div>
</div>

