<p-table
[columns]="columns" [value]="tableData" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }"
[paginator]="true"
[showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 15, 20]"
    #dt2
    dataKey="id"
    [globalFilterFields]="columns"
>
<ng-template pTemplate="caption">
  <div class="flex">
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" ></button>

  </div>
</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let column of columns; let i = index" pSortableColumn="{{column}}">{{ columnLabels[i] }}<p-sortIcon field="{{column}}"></p-sortIcon></th>
    </tr>
    <tr>
      <th *ngFor="let column of columns; let i = index">
        <ng-container *ngIf="isColumnNumber(column); else textFilter">
          <p-columnFilter type="numeric" field="{{column}}"></p-columnFilter>
        </ng-container>
        <ng-template #textFilter>
          <p-columnFilter type="text" field="{{column}}"></p-columnFilter>
        </ng-template>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let column of columns">{{ rowData[column] }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        In total there are {{tableData ? tableData.length : 0 }} items.
    </div>
</ng-template>
</p-table>
