<div class="login-holder">
  <div class="wrapper standard-card-style">
    <h2>Login</h2>
    <form action="#" [ngBusy]="busyLogin" (ngSubmit)="logIn()">
      <div class="input-box">
        <input type="text" name="email" [(ngModel)]="login.email" placeholder="Email">
      </div>
      <div class="input-box">
        <input type="password" name="password" [(ngModel)]="login.password" placeholder="Password">
      </div>
      <div class="input-box button">
        <button type="submit">Login</button>
      </div>
      <div class="input-box button">
        <p class="policy"><a href="forgot-password">Forgot password ?</a></p>
      </div>
    </form>
  </div>
</div>
