<div class="login-holder">
  <app-logo-holder></app-logo-holder>
  <div class="login-container">
    <form>
      <h2>Sign In</h2>
      <input type="email" id="login-email" placeholder="username" name="email" required [(ngModel)]="login.email">
      <input type="password" id="login-password" placeholder="password" name="password" required [(ngModel)]="login.password">
      <p id="login-forgot-pass"><a href="forgot-password">Forgot password ?</a></p>
      <button type="submit" (click)="logIn()">Login</button>
    </form>
  </div>
</div>