<div class="devices-info-container">
  <div class="devices-container">
    <div class="device-container">
      <div class="device-container-header" (click)="consumeShow = !consumeShow">
        <h2>Consume</h2>
        <img src="/assets/drop-down.png" alt="drop-down">
      </div>
      <div class="device-items-holder" *ngIf="consumeShow">
        <div class="device-item" *ngFor="let device of consumeDevices">
          <div class="device-item-header">
            <img src="/assets/consumer.png" alt="consumer">
            <h3>{{device.name}}</h3>
          </div>
          <div class="device-item-footer">
            <div *ngIf="device.activityStatus"><img src="/assets/active.png" alt="active"></div>
            <div *ngIf="!device.activityStatus"><img src="/assets/nonactive.png" alt="non-active"></div>
            {{device.usage}} kWh
          </div>
        </div>
      </div>
    </div>
    <div class="device-container">
      <div class="device-container-header" (click)="prosumeShow = !prosumeShow">
        <h2>Produce</h2>
        <img src="/assets/drop-down.png" alt="drop-down">
      </div>
      <div class="device-items-holder" *ngIf="prosumeShow">
        <div class="device-item" *ngFor="let device of prosumeDevices"></div>
      </div>
    </div>
    <div class="device-container">
      <div class="device-container-header" (click)="storageShow = !storageShow">
        <h2>Storage</h2>
        <img src="/assets/drop-down.png" alt="drop-down">
      </div>
      <div class="device-items-holder" *ngIf="storageShow">
        <div class="device-item" *ngFor="let device of prosumeDevices"></div>
      </div>
    </div>
  </div>
</div>