<div class="verify-container">
  <app-logo-holder></app-logo-holder>
  <div class="container">
    <div class="wrapper standard-card-style" [ngBusy]="busy">
      <h2>Please enter your new password</h2>
      <form action="#">
        <h3 id="prosumer-mail"></h3>
        <div class="input-box">
          <input type="password" name="email" [(ngModel)]="data.newPassword" placeholder="New password">
        </div>
        <div class="input-box">
          <input type="password" name="email" [(ngModel)]="data.confirmedNewPassword" placeholder="Repeat new password">
        </div>
        <div class="input-box button">
          <button type="button" (click)="restartPassword()">Verify account</button>
        </div>
      </form>
    </div>
  </div>
</div>
