<div class="password-input-container">
    <div class="password-input-holder">
        <form class="password-input-form ">
            <h1>Password input</h1>
            <h3 id="password-input-mail">mail@mail.com</h3>
            <input type="password" placeholder="password" name="password" [(ngModel)]="data.newPassword">
            <input type="password" placeholder="password" name="password" [(ngModel)]="data.confirmedNewPassword">
            <button (click)="restartPassword()">Reset password</button>
        </form>
    </div>

</div>
