<div class="password-input-container">
    <div class="password-input-holder">
        <div class="password-input-logo-holder">
            <div class="password-input-logo">
                <img src="\assets\logo.png" alt="logo">
            </div>
            <div class="password-input-company-message">
                <h1>Empower</h1>
                <h1>Energy</h1>
                <h1>Efficiency</h1>
            </div>
        </div>
        <form>
            <input type="password" id="password" placeholder="password" name="password" [(ngModel)]="data.newPassword">
            <input type="password" id="password" placeholder="password" name="password" [(ngModel)]="data.confirmedNewPassword">
            <button (click)="restartPassword()">Send reset mail</button>
        </form>
    </div>

</div>