.password-input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(60deg, #239F81 30%, #1676AC 70%);
    background: -moz-linear-gradient(60deg, #239F81 30%, #1676AC 70%);
    background: -ms-linear-gradient(60deg, #239F81 30%, #1676AC 70%);
    background: -o-linear-gradient(60deg, #239F81 30%, #1676AC 70%);
    background: linear-gradient(60deg, #239F81 30%, #1676AC 70%);
    min-height: 100vh;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.password-input-form {
    width: 410px;
    height: 360px;
    background-color: #D9D9D9;
    border-radius: 30px;
    box-shadow: 1px 5px 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.password-input-form h1, h3 {
    text-align: center;
}

.password-input-form input,button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin: 0px 40px;
    font-weight: 600;
    font-size: 18px;
}

.password-input-form input:focus {
    outline:2px;
}

.password-input-form button {
    width: 200px;
    margin: 0 auto;
}
