#container {
  display: flex;
  box-sizing: border-box;
}

#content {
  height: fit-content;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  #container {
    flex-direction: row;
  }
  #content {
    margin-top: 88px;
  }
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
  }
}

#header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#header h2 {
  color: #3e3e3e;
}

#nav-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

#filter select {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#add-new-routine button {
  border-radius: 10px;
  height: 30px;
  color: #3e3e3e;
  width: 120px;
  border: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 14px;

}

#add-new-routine button:hover {
  background-color: rgba(67, 108, 144, 0.2);
}
