
<div id="map">

</div>

<div id="filter">
  <div id="select-city">
    <h3>Prosumers map of current electrical energy usage</h3>
  </div>
  <div id="select-city">
    <app-tooltip [message]="'This select contains all cities in which prosumer has been registered.'"></app-tooltip>
    <div style="margin:0!important; display: flex; align-items: center; padding-left:10px; width: 40%!important; color:#3e3e3e">
      <h4>City</h4>
    </div>
    <select name="city" (change)="getNeighborhoods();getTop5Neighborhoods();" [(ngModel)]="selectedCity">
      <option *ngFor="let city of cities">{{city}}</option>
    </select>
  </div>
  <div id="city-chart" class="standard-card-style">
    <div style="margin: 0!important">
      <select (change)="getTop5Neighborhoods()" [(ngModel)]="selectedCategory" style="width:100%!important">
        <option value="-1" selected>Consumption</option>
        <option value="1" selected>Production</option>
      </select>
    </div>
    <div style="margin: 20px 0 0 0!important;">
      <ngx-charts-bar-vertical-2d
        [view]="[450,280]"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Neighborhood'"
        [yAxisLabel]="'Current electrical energy usage [kWh]'"
        [legendTitle]="'Electrical energy usage by neighborhood'"
        [scheme]="colorScheme"
        [legendPosition]="legendPosition"
      ></ngx-charts-bar-vertical-2d>
    </div>
  </div>
  <div id="select-neighborhood">
    <app-tooltip [message]="'For selected city above, this select contains all neighborhoods in which prosumer has been registered.'"></app-tooltip>
    <div style="margin:0!important; display: flex; align-items: center; padding-left:10px; width: 40%!important; color:#3e3e3e">
      <h4>Neighborhood</h4>
    </div>
    <select name="neighborhood" (change)="getLocationsForNeighborhood()" [(ngModel)]="selectedNeighborhood">
      <option>All</option>
      <option *ngFor="let neighborhood of neighborhoods">{{neighborhood}}</option>
    </select>
  </div>
  <div id="prosumers" class="standard-card-style">
    <div *ngIf="selectedLocation != null">
      <div id="location-header">
        <h3>{{selectedLocation.address}} {{selectedLocation.addressNumber}}<br>{{selectedLocation.city}}</h3>
        <h3><span style="color: #bf4141;" *ngIf="selectedLocation.totalPowerUsage<0">{{selectedLocation.totalPowerUsage.toFixed(3)}}kWh </span>
            <span style="color: #3e3e3e" *ngIf="selectedLocation.totalPowerUsage==0">{{selectedLocation.totalPowerUsage.toFixed(3)}}kWh </span>
            <span style="color: #455eb8;" *ngIf="selectedLocation.totalPowerUsage>0">{{selectedLocation.totalPowerUsage.toFixed(3)}}kWh </span> <i class="fa fa-info-circle" aria-hidden="true" [matTooltip]="'This number represents power usage for this location. Represents sum of all production and consumption for this hour. If number is below zero, that means there is more consumption of electrical energy at this location. If power usage is bigger than zero, then there is more production of electrical energy.'"></i></h3>
      </div>
      <div id="user-div" *ngFor="let user of users">
        <h4 style="margin-bottom: 5px">{{user.firstname}} {{user.lastname}}</h4>
        <p style="margin-bottom: 5px;">{{user.email}}</p>
        <button class="btn-grad" (click)="goToUser(user.id)">Details</button>
      </div>
    </div>
  </div>
</div>

<div class="standard-card-style" id="legend">
  <table>
    <tr>
      <td><img class="pin" src="/assets/pins/pin-2.png"/></td>
      <td><p class="pin-about">Less than -5 kWh</p></td>
    </tr>
    <tr>
      <td><img class="pin" src="/assets/pins/pin-1.png"/></td>
      <td><p class="pin-about">Between -5 and 0 kWh</p></td>
    </tr>
    <tr>
      <td><img class="pin" src="/assets/pins/pin0.png"/></td>
      <td><p class="pin-about">Exactly 0 kWh</p></td>
    </tr>
    <tr>
      <td><img class="pin" src="/assets/pins/pin1.png"/></td>
      <td><p class="pin-about">Between 0 and 5 kWh</p></td>
    </tr>
    <tr>
      <td><img class="pin" src="/assets/pins/pin2.png"/></td>
      <td><p class="pin-about">More than 5 kWh</p></td>
    </tr>
  </table>
</div>
