
<div id="map"></div>

<div id="user-overlay"  [ngClass]="{'show': showOverlay}">

  <i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" (click)="closeOverlay()" style="font-size: 30px; margin: 10px; float: right;"></i>

  <h3>{{selectedLocation.address}} {{selectedLocation.addressNumber}}, {{selectedLocation.city}}</h3>
  <div id="user-div" *ngFor="let user of users">
    <h4 style="margin-bottom: 5px">{{user.firstname}} {{user.lastname}}</h4>
    <p style="margin-bottom: 5px;">{{user.email}}</p>
    <button class="btn-grad" (click)="goToUser(user.id)">Details</button>
  </div>
</div>
