
<div id="map">

</div>

<div id="filter">
  <div id="select-city">
    <h3>Prosumers map of current electrical energy usage</h3>
  </div>
  <div id="select-city">
    <app-tooltip [message]="'This select contains all cities in which prosumer has been registered.'"></app-tooltip>
    <div style="margin:0!important; display: flex; align-items: center; padding-left:10px; width: 40%!important; color:#3e3e3e">
      <h4>City</h4>
    </div>
    <select name="city" (change)="getNeighborhoods();getTop5Neighborhoods();" [(ngModel)]="selectedCity">
      <option *ngFor="let city of cities">{{city}}</option>
    </select>
  </div>
  <div id="city-chart" class="standard-card-style">
    <div style="margin: 0!important">
      <select (change)="getTop5Neighborhoods(); getLocationsForNeighborhood()" [(ngModel)]="selectedCategory" style="width:100%!important">
        <option value="-1" selected>Consumption</option>
        <option value="1" selected>Production</option>
      </select>
    </div>
    <div style="margin: 20px 0 0 0!important;">
      <ngx-charts-bar-vertical-2d
        [view]="[450,280]"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Neighborhood'"
        [yAxisLabel]="'Current electrical energy usage [kWh]'"
        [legendTitle]="'Electrical energy usage by neighborhood'"
        [scheme]="colorScheme"
        [legendPosition]="legendPosition"
      ></ngx-charts-bar-vertical-2d>
    </div>
  </div>
  <div id="select-neighborhood">
    <app-tooltip [message]="'For selected city above, this select contains all neighborhoods in which prosumer has been registered.'"></app-tooltip>
    <div style="margin:0!important; display: flex; align-items: center; padding-left:10px; width: 40%!important; color:#3e3e3e">
      <h4>Neighborhood</h4>
    </div>
    <select name="neighborhood" (change)="getLocationsForNeighborhood()" [(ngModel)]="selectedNeighborhood">
      <option>All</option>
      <option *ngFor="let neighborhood of neighborhoods">{{neighborhood}}</option>
    </select>
  </div>
  <div id="prosumers" class="standard-card-style">
    <div *ngIf="selectedLocation != null">
      <div id="location-header">
        <h3>{{selectedLocation.address}} {{selectedLocation.addressNumber}}<br>{{selectedLocation.city}}</h3>
        <h3><span style="color: #bf4141;" *ngIf="selectedCategory == -1">{{selectedLocation.totalPowerUsage.toFixed(3)}}kWh </span>
            <span style="color: #455eb8;" *ngIf="selectedCategory == 1">{{selectedLocation.totalPowerUsage.toFixed(3)}}kWh </span>
        </h3>
      </div>
      <div id="user-div" *ngFor="let user of users">
        <h4 style="margin-bottom: 5px">{{user.firstname}} {{user.lastname}}</h4>
        <p style="margin-bottom: 5px;">{{user.email}}</p>
        <button class="btn-grad" (click)="goToUser(user.id)">Details</button>
      </div>
    </div>
  </div>
</div>

<div class="standard-card-style" id="legend">
  <div *ngIf="selectedCategory == -1">
    <h3>Consumption</h3>
    <table>
      <tr>
        <td><img class="pin" src="/assets/pins/pinCons1.png"/></td>
        <td><p class="pin-about">Less than 5 kWh</p></td>
      </tr>
      <tr>
        <td><img class="pin" src="/assets/pins/pinCons2.png"/></td>
        <td><p class="pin-about">Between 5 and 10 kWh</p></td>
      </tr>
      <tr>
        <td><img class="pin" src="/assets/pins/pinCons3.png"/></td>
        <td><p class="pin-about">More than 10 kWh</p></td>
      </tr>
    </table>
  </div>
  <div *ngIf="selectedCategory == 1">
    <h3>Production</h3>
    <table>
      <tr>
        <td><img class="pin" src="/assets/pins/pinProd1.png"/></td>
        <td><p class="pin-about">Less than 5 kWh</p></td>
      </tr>
      <tr>
        <td><img class="pin" src="/assets/pins/pinProd2.png"/></td>
        <td><p class="pin-about">Between 5 and 10 kWh</p></td>
      </tr>
      <tr>
        <td><img class="pin" src="/assets/pins/pinProd3.png"/></td>
        <td><p class="pin-about">More than 10 kWh</p></td>
      </tr>
    </table>
  </div>
</div>


