
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
   
    <!---
        <div id="logo">
        <img src="\assets\logo.png" alt="logo">
        </div>
    -->
    
    <div *ngIf="showProfileForm">
      <div class="container">
        <form>
              <h2>My Profile</h2>
              
                    <div id="profile_user"> 
                      <div style="display: inline-block;" id="profile_user_name1"> first name </div>  
                      <div style="display: inline-block;" id="profile_user_name"> Petar </div>  
                    </div>
                    
                    <div id="profile_user"> 
                      <div style="display: inline-block;" id="profile_user_name1"> last name </div>  
                      <div style="display: inline-block;" id="profile_user_name"> Peric </div>  
                    </div>  
                    
                    <div id="profile_email"> 
                      <div style="display: inline-block;" id="profile_user_name1">email </div>  
                      <div style="display: inline-block;" id="profile_user_name"> pera@gmail.com </div>  
                    </div>  
                    
                    <div id="profile_street"> 
                      <div style="display: inline-block;" id="profile_user_name1"> address </div>  
                      <div style="display: inline-block;" id="profile_user_name"> Radoja Domanovica 7 </div>  
                    </div>
                    
                    <br>
                    <div class="button-container">
                      <button (click)="showProfileForm = false"  type="submit" routerLink="/profile">Change password</button>
                    </div>
          </form>
      </div>
    </div>

      <div *ngIf="!showProfileForm">
        <div class="container">   
          <form style="width: 300px; height: 350px;">

              <div (click)="showProfileForm = true" class="button-container" style="margin-bottom: 10px;">
                <button type="submit">Cancel</button>
              </div>
              <br>

              <div>
                <input type="password" id="password" placeholder="old password" name="password" required >
              </div>
              <br>
              <div>
                <input type="password" id="password" placeholder="new password" name="password" required >
              </div>
              <div>
                <input type="password" id="password" placeholder="repeat new password" name="password" required >
              </div>
            
                <button style="width: 80%;" type="submit">Change password</button>

          </form>
        </div>
      </div>
  </body>
  