
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-5EY9pN8WxEPx6pBwPdF+BOg2GJkpxeHvZUq3gU6fQ2FhhBNKx+Owif3LEf1noG0uZ+VpTw33kOZCg9+C4+maKw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
   
    <!---
        <div id="logo">
        <img src="\assets\logo.png" alt="logo">
        </div>
    -->
    
    <div style="width: 30%;">
      <app-sidebar></app-sidebar>
    </div>
    
    <div style="width: 60%; display: inline-block;" *ngIf="showProfileForm">
      <div class="container">
        <form>
              <h2>My Profile</h2>
              
                    <div id="profile_user"> 
                      <div style="display: inline-block;" id="profile_user_name1"> first name </div>  
                      <div style="display: inline-block;" id="profile_user_name"> Petar </div>  
                    </div>
                    
                    <div id="profile_user"> 
                      <div style="display: inline-block;" id="profile_user_name1"> last name </div>  
                      <div style="display: inline-block;" id="profile_user_name"> Peric </div>  
                    </div>  
                    
                    <div id="profile_email"> 
                      <div style="display: inline-block;" id="profile_user_name1">email </div>  
                      <div style="display: inline-block;" id="profile_user_name"> pera@gmail.com </div>  
                    </div>  
                    
                    <div id="profile_street"> 
                      <div style="display: inline-block;" id="profile_user_name1"> address </div>  
                      <div style="display: inline-block;" id="profile_user_name"> Radoja Domanovica 7 </div>  
                    </div>
                    
                    <br>
                    <div class="button-container">
                      <button (click)="showProfileForm = false"  type="submit" routerLink="/profile">Change password</button>
                    </div>
            </form>
        </div>
      </div>

      <div *ngIf="!showProfileForm">
        <div class="container">   
          <form style="width: 300px; height: 350px;">

              <div (click)="showProfileForm = true" class="button-container" style="margin-bottom: 10px;">
                <button type="submit">Cancel</button>
              </div>
              <br>

              <div>
                <input type="password" id="password" placeholder="old password" name="password" required >
              </div>
              <br>
              <div>
                <input type="password" id="password" placeholder="new password" name="password" required >
              </div>
              <div>
                <input type="password" id="password" placeholder="repeat new password" name="password" required >
              </div>
            
                <button style="width: 80%;" type="submit">Change password</button>

          </form>
          </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-lMz+BCF2J1eOb3Ciky7VnnDjK/n+7V9JEBPCEoK4+D4P+mBpV45Bw1yNf+kyS8tWJPTt9Xk+iZ2I4x4OzfyWzw==" crossorigin="anonymous"></script>
  </body>
  