<div class="sidebar-container">
    <div class="sidebar-header">
        <div class="sidebar-logo"><img src="\assets\logo.png"></div>
        {{ this.currentTime }}
    </div>
    <div class="sidebar-nav">
        <div class="sidebar-item-active" (click)="clickHandler($event)">Overview</div>
        <div class="sidebar-item" (click)="clickHandler($event)">Devices</div>
        <div class="sidebar-item" (click)="clickHandler($event)">Consumption</div>
        <div class="sidebar-item" (click)="clickHandler($event)">Production</div>
        <div class="sidebar-footer">
            <div class="sidebar-profile"><img src="\assets\profile.png"></div>
            {{this.user.firstName + " " + this.user.lastName}}
        </div>
    </div>

</div>
