<div id="container">
  <div id="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div id="content">
    <div id="cards">
      <div class="card big-card" id="card1">
        <h3>Today's total with predictions</h3>
        <canvas id="chart1" style="width: 95%; height: 85%;"></canvas>
      </div>
      <div class="card big-card" id="card2">
        <h3>Tommorow's prediction</h3>
        <canvas id="chart2" style="width: 95%; height: 85%;"></canvas>
      </div>
      <div class="card" id="card3">
        <div class="small-card-vertical">
          <h3 *ngIf="chartActiveConsumersData.consumption.length==0">No active consumers</h3>
          <canvas id="chart-active-consumers" style="width: 90%; height: 80%;"></canvas>
        </div>
        <div class="small-card-vertical">
          <h3 *ngIf="chartActiveProducersData.production.length==0">No active producers</h3>
          <canvas id="chart-active-producers" style="width: 90%; height: 80%;"></canvas>
        </div>
      </div>
      <div class="card" id="card4">
        <div class="small-card-horizontal">

        </div>
        <div class="small-card-horizontal">

        </div>
      </div>
    </div>
  </div>
</div>
