<div id="container">
  <div id="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div id="content">
    <div id="cards">
      <div class="card" id="card1">
        <h2>Today's total</h2>
        <canvas id="chart" style="width: 95%; height: 85%;"></canvas>
      </div>
      <div class="card" style="display: flex; align-items: center; justify-content: center; flex-direction: column">
        <div>

        </div>
      </div>
      <div class="card">

      </div>
      <div class="card">

      </div>
    </div>
  </div>
</div>
