<div id="container">
  <div id="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div id="content">
    <div id="cards">
      <div class="card big-card" id="card1">
        <h2>Today's total with predictions</h2>
        <canvas id="chart1" style="width: 95%; height: 85%;"></canvas>
      </div>
      <div class="card big-card" id="card2">
        <h2>Tommorow's prediction</h2>
        <canvas id="chart2" style="width: 95%; height: 85%;"></canvas>
      </div>
      <div class="card" id="card3">
        <div class="small-card-vertical">

        </div>
        <div class="small-card-vertical">

        </div>
      </div>
      <div class="card" id="card4">
        <div class="small-card-horizontal">

        </div>
        <div class="small-card-horizontal">

        </div>
      </div>
    </div>
  </div>
</div>
