.logo-holder {
    display: flex;
    padding: 5px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.logo-holder h1, .logo-holder h3{
    color: white;
    margin-left: 5px;
}

.company-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-holder{
    margin-bottom: 10px;
}

img {
  height: 80px;
}
