.logo-holder {
    display: flex;
    margin-bottom: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.logo-holder h1 {
    color: white;
}

.company-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}