<div id="upload-image">
    <div id="images-holder">
      <div class="close-button">
          <i class="fa fa-times" id="close-overlay-btn" aria-hidden="true" (click)="hideUpload()"></i>
      </div>
      <div id="image-cropper-holder">
          <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          [resizeToWidth]="imageSize"
          [resizeToHeight]="imageSize"
      ></image-cropper>
      </div>
      <div id="preview">
        <div class="preview-div">
          <img [src]="croppedImage" height="200" width="200"/>
        </div>
        <div class="preview-div" style="height: 80px;">
          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Upload file
          </label>
          <input id="file-upload" type="file" (change)="fileChangeEvent($event)"/>
          <button (click)="uploadImage()">Save image</button>
        </div>
      </div>
    </div>
</div>
