#upload-image {
    background-color: white;
    min-height: 600px;
    max-width: 800px;
}

#images-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

image-cropper {
    max-height: 50vh;
    max-width: 700px;
}

#image-cropper-holder {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#image-cropper-holder img {
    width: 600px;
}

#preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

#preview input {
    background-color: #167ac1;
    color: white;
    padding: 20px;   
}

#preview img {
    border-radius: 50%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#preview button {
    padding: 10px 20px;
    background-color: #167ac1;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    display: flex;
    font-size: 30px; 
    margin: 0;
    color: black;
    justify-content: flex-end;
    padding: 20px;
}
  