/*
* {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
}

.overview-container {
    display: flex;
    background-color: #E1E1E1;
    min-height: 100vh;
}
#overview-filter {
    background-color: rgba(22, 118, 172, 0.75);
}

.overview-tab {
    width:100%;
    max-width: 1500px;
    position: relative;
    margin: 100px auto;
}

.overview-filter-holder form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#add-user-btn {
    background-color: white;
    color: #3E3E3E;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 30px;
    border-radius: 20px;
    border: 0px;
    outline: 0;
}

.search-input input {
    width: 250px;
    color: black;
    height: 35px;
    outline: 0;
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 35px;
}

.search-input button {
    background-color: #3E3E3E;
    font-weight: 600;
    height: 100%;
}

.search-input button:hover,#add-user-btn:hover {
    outline: 1px solid black;
}

/*
.overview-users-table {
    overflow-y: scroll;
    max-height: 80vh;
}


.overview-users-table table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    overflow-x: scroll;
}

.overview-users-table table tr:first-child{
    border-bottom: 3px solid black;
    font-weight: 600;
    font-size: 26px;
}

.overview-users-table table tr {
    border-bottom: 1px solid black;
}

.overview-users-table table tr:last-child {
    border: 0;
}

.overview-users-table table tr td {
    text-align: left;
    color: #3E3E3E;
    height: 40px;
    font-size: 16px!important;
    padding: 5px;
    box-sizing: border-box;
}

#overiew-filter {
    outline: none;
}

.overview-pagination form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.overview-pagination form, select, option, label{
    color: black;
    outline: none;
    border: none;
}

.page-size-holder {
    margin-right:50px;
}

.overview-pagination-pages {
    display: flex;
}

.overview-pagination-page, .overview-pagination-page-active {
    width: 30px;
    color: black;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
}

.overview-pagination-page-active {
    background-color: rgba(22, 118, 172, 0.5)
}

.overview-pagination-page:hover {
    background-color: rgba(22, 118, 172, 0.75);
}

.employee-overview-overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    background-color: rgba(157, 157, 157, 0.5);
}

.employee-overview-add-new {
    z-index: 9999;
    position: fixed;
    left: 40%;
    top: 20%;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue {
  background-color: #1676AC;
}
.blue:hover {
  background-color: #0e4bf1;
}

.red {
  background-color: #ce2d2d;
}
.red:hover {
  background-color: #b11f1f;
}

.green {
  background-color: #239F81;
}
.green:hover {
  background-color: #115746;
}
*/
* {
  font-family: 'Inter', sans-serif;
  color: white;
}

.overview-container {
  display: flex;
  background-color: #E1E1E1;
  min-height: 100vh;
}

.overview-container button {
  padding: 5px 30px;
  border-radius: 20px;
  border: 0px;
  outline: 0;
}

#lastname-filter {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 600;
  border-radius: 20px;
  border: 0px;
  outline: 0;
}

#header {
box-sizing: border-box;
width: 100%;
height: 60px;
display: flex;
align-items: center;
padding-left: 0;
}

#header h2 {
color: #3e3e3e;
}
.overview-tab {
  width: 100%;
  position: relative;
  margin: 0 20px;
}
.overview-filter-holder {
display: flex;
flex-direction: row;
justify-content: end;
box-sizing: border-box;
margin-bottom: 20px;
}

.overview-filter-holder form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#add-user-btn {
  background-color: white;
  color: #3E3E3E;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-input input {
  width: 250px;
  color: black;
  height: 35px;
  outline: 0;
  border: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 35px;
}

.search-input button {
  background-color: #3E3E3E;
  font-weight: 600;
  height: 100%;
}

.search-input button:hover,#add-user-btn:hover {
  outline: 1px solid black;
}

.button {
height: 35px;
padding: 10px 20px;
margin: 0;
border: none;
border-radius: 6px!important;
font-size: 16px;
font-weight: 600;
color: #fff;
cursor: pointer;
transition: background-color 0.3s ease;
box-sizing: border-box;
}

.green {
background-color: #239F81;
margin: 0!important;
}
.green:hover {
background-color: #115746;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 2;
}

.hover-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  border-radius: 5px;
  z-index: 3;
}

