
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-5EY9pN8WxEPx6pBwPdF+BOg2GJkpxeHvZUq3gU6fQ2FhhBNKx+Owif3LEf1noG0uZ+VpTw33kOZCg9+C4+maKw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
   
    <!---
        <div id="logo">
        <img src="\assets\logo.png" alt="logo">
        </div>
    -->
    
    <div class="container">
    <form>
      <h2>My Profile</h2>
      
            <div id="profile_user"> 
              <div style="display: inline-block;" id="profile_user_name1"> first name </div>  
              <div style="display: inline-block;" id="profile_user_name"> Pera </div>  
            </div>
            
            <div id="profile_user"> 
              <div style="display: inline-block;" id="profile_user_name1"> last name </div>  
              <div style="display: inline-block;" id="profile_user_name"> Pera </div>  
            </div>  
            
            <div id="profile_user"> 
              <div style="display: inline-block;" id="profile_user_name1"> first name </div>  
              <div style="display: inline-block;" id="profile_user_name"> Pera </div>  
            </div>  
            
            <div id="profile_user"> 
              <div style="display: inline-block;" id="profile_user_name1"> first name </div>  
              <div style="display: inline-block;" id="profile_user_name"> Pera </div>  
            </div>  
            


      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-lMz+BCF2J1eOb3Ciky7VnnDjK/n+7V9JEBPCEoK4+D4P+mBpV45Bw1yNf+kyS8tWJPTt9Xk+iZ2I4x4OzfyWzw==" crossorigin="anonymous"></script>
  
    </form>

    
    </div>
  </body>
  