<div id="container">
  <div id="nav">
    <app-sidebar>

    </app-sidebar>
  </div>
  <div id="content">
    <div id="header">
      <h2>Consumption of electrical energy</h2>
    </div>
    <div id="nav-bar">
      <h3 id="history-h3" (click)="historyClick()">History</h3>
      <h3 id="prediction-h3" (click)="predictionClick()">Prediction</h3>
    </div>
    <div id="filter">
      <div *ngIf="historyflag==true">
        <div class="slider">
          <div id="today" (click)="todayClick()">Date</div>
          <div id="month" (click)="monthClick()">Month</div>
          <div id="year" (click)="yearClick()">Year</div>
        </div>
      </div>
      <div *ngIf="predictionFlag==true">
        <div class="slider">
          <div id="day1" (click)="tommorowClick()">Tom.</div>
          <div id="day2" (click)="threeDaysClick()">3 Days</div>
          <div id="day3" (click)="sevenDaysClick()">7 Days</div>
        </div>
      </div>
    </div>
    <div id="additional-filter">
      <form *ngIf="historyflag==true">
        <input type="date" *ngIf="todayFlag==true" [(ngModel)]="date" name="date" (change)="todayClick()">
        <select id="picked-month" *ngIf="monthFlag==true" [(ngModel)]="month" name="month" (change)="monthClick()">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
        </select>
        <select id="picked-year" *ngIf="monthFlag==true" [(ngModel)]="yearForMonth" name="year" (change)="monthClick()">
          <option value="2023">2023</option>
        </select>
        <select id="picked-year" *ngIf="yearFlag==true" [(ngModel)]="year" name="year" (change)="yearClick()">
          <option value="2023">2023</option>
        </select>

      </form>
      <button id="stats-button" (click)="showDropdown = !showDropdown" *ngIf="historyflag">
        Aditional stats
        <div id="stats-dropdown" *ngIf="showDropdown"  [class.visible]="showDropdown">
          <table>
            <thead>
              <tr>
                <th> Stat  </th>
                <th> {{tableTitle}}  </th>
                <th> [kWh] </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Max</td>
                <td>{{additionalStatsData.max.timestamp}}</td>
                <td>{{additionalStatsData.max.value}}</td>
              </tr>
              <tr>
                <td>Min</td>
                <td>{{additionalStatsData.min.timestamp}}</td>
                <td>{{additionalStatsData.min.value}}</td>
              </tr>
              <tr>
                <td>Average</td>
                <td></td>
                <td>{{additionalStatsData.mean.toFixed(3)}}</td>
              </tr>
              <tr [matTooltip]="'MAE stands for Mean Absolute Error, which is a metric used to measure the average difference between the predicted and actual values in a dataset. It is calculated as the average of the absolute differences between predicted and actual values for each data point in the dataset.'">
                <td>MAE</td>
                <td></td>
                <td>
                  {{additionalStatsData.mae.toFixed(3)}}
                </td>
              </tr>
              <tr [matTooltip]="'RMSE stands for Root Mean Square Error, which is a commonly used metric to evaluate the accuracy of a prediction model. It is the square root of the average of the squared differences between the predicted values and the actual values. It provides a measure of how close the predicted values are to the actual values on average. RMSE is expressed in the same units as the predicted and actual values. A lower RMSE indicates a better fit of the model to the data.'">
                <td>RMSE</td>
                <td></td>
                <td>
                  {{additionalStatsData.rmse.toFixed(3)}}
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </button>
    </div>
    <div id="chart">
      <div id="chart-holder" class="standard-card-style">
        <canvas id="chart-canvas" style="height: 100%!important; width: 100%!important;"></canvas>
      </div>
    </div>
    <div id="table">
      <table *ngIf="historyflag">
        <thead>
          <tr id="thead-tr">
            <th>{{tableTitle}}</th>
            <th>Predicted {{categoryLabel}}</th>
            <th>{{categoryLabel}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let row of data">
            <td>{{row.timestamp}}</td>
            <td>{{row.predictedValue}}</td>
            <td>{{row.value}}</td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="predictionFlag">
        <thead>
          <tr id="thead-tr">
            <th>{{tableTitle}}</th>
            <th>Predicted {{categoryLabel}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let row of data">
            <td>{{row.timestamp}}</td>
            <td>{{row.predictedValue}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
